# Dependencies
node_modules/
*/node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.log

# Production
build/
dist/
*/build/
*/dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Mobile
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.keystore
.expo/
.expo-shared/

# Misc
.cache/
*.tsbuildinfo
.turbo/
